@import 'vars';
@import 'fonts';
@import 'libs';
@import 'components/components';

.page {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	min-width: 320px;
	min-height: 100%;

	&__inner {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	&__content {
		flex-grow: 1;
	}

	&__footer {
		flex-shrink: 0;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: $arial;
	-webkit-font-smoothing: antialiased;

	@media (max-width: $tablet) {
		background-color: $color-main;
	}

	@media (max-width: $mobile) {
		background-color: $color-danger;
	}
}

@import 'print';
