@import 'vars';
@import 'fonts';
@import 'libs';
@import 'page';

body {
	font-family: $arial;

	@media (max-width: $tablet) {
		background-color: #014c8d;
	}

	@media (max-width: $tablet) {
		font-size: 20px;
	}

	@media (max-width: $mobile) {
		background-color: #8d0003;
	}
}

@import 'print';
